footer{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 10px;
}
footer i{
    font-size: 50px;
    letter-spacing: 30px;
    color: gold;
}
footer p{
    margin-bottom: 5px;
}