.nh1{
    margin: 100px;
    color: white;
    text-align: center;
}
.txtnosotros{
    background-color: rgb(250, 230, 141);
    color: black;
    height: auto;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 68px;
    border: 5px solid orange;
}
.ryi{
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    margin-bottom: 80px;
}