* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/nebulosa.jpg");
  background-attachment: fixed;
  overflow-x: hidden;
  font-size: 16px;
}

.rx {
  margin: 60px;
  background-color: none;
  display: flex;
}

.grafica {
  margin: 60px;
  background-color: none;
  display: flex;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.txt1 {
  color: white;
  text-align: center;
}

.radeon {
  width: 200px;
  height: 150px;
  margin-left: 15px;
}

.procesadores {
  background-color: white;
  width: auto;
  height: 470px;
  display: flex;
}

.r9 {
  width: 500px;
  height: 360px;
}

.i9 {
  width: 400px;
  height: 350px;
  padding: 5px;
  margin-left: 200px;
}

.lap {
  width: 390px;
  height: 354px;
  margin-left: 300px;
}

h2 {
  margin-left: 100px;
}

.txt2 {
  color: black;
  margin: 10px;
  font-family: sans-serif;
  font-size: 15px;
}

h3 {
  margin-left: 280px;
  font-size: 20px;
}

.txt3 {
  margin-left: 150px;
  font-family: sans-serif;
}

h4 {
  margin-left: 450px;
  font-size: 20px;
}

.txt4 {
  margin-left: 350px;
  font-family: sans-serif;
}

.enviotit {
  color: white;
  text-align: center;
  margin-top: 150px;
}

.truck {
  height: 500px;
  width: 500px;
  display: block;
  margin: auto;
}

.txtenvio {
  background-color: rgb(250, 230, 141);
  color: black;
  height: 185px;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 110px;
  border: 5px solid orange;
}

.nh1 {
  margin: 100px;
  color: white;
  text-align: center;
}

.txtnosotros {
  background-color: rgb(250, 230, 141);
  color: black;
  height: 220px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 68px;
  border: 5px solid orange;
}

.ryi {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.tit1 {
  margin-top: 60px;
  color: white;
  text-align: center;
}

.gallery__item {
  color: gold;
  font-size: 50px;
  text-align: center;
}

.rx7, .rtx {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}

.proce {
  display: flex;
  background-color: white;
  margin: 40px;
  margin-left: 500px;
  border: 3px solid black;
  margin-right: 300px;
}
.proce .intel {
  height: 200px;
  width: auto;
  background-color: white;
}
.proce .intel1 {
  height: 200px;
  width: 200px;
}
.proce .intel2 {
  height: 200px;
  width: 200px;
}
.proce .tit1 {
  margin-top: 60px;
}
.proce .txttienda {
  font-size: 40px;
  color: black;
  margin-top: 0px;
  margin-left: 30px;
}
.proce .p-one {
  font-size: 50px;
  margin-top: 50px;
  color: #4675b9;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  margin-left: 40px;
}
.proce .carrito {
  color: white;
}
.proce .sumar {
  background-color: #fd611a;
  margin-left: 300px;
  text-align: center;
  margin-left: 1px;
  margin-bottom: 0.5em;
  display: inherit;
  margin-top: 100px;
}

footer {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: black;
  padding: 10px;
}

footer i {
  font-size: 50px;
  letter-spacing: 30px;
  color: gold;
}

footer p {
  margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
  .truck {
    height: 450px;
    width: 450px;
    margin-top: 70px;
  }
  .txtenvio {
    font-size: 20px;
  }
  .txtnosotros {
    background-color: rgb(250, 230, 141);
    color: black;
    height: 220px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 68px;
    border: 5px solid orange;
  }
  .rx7, .rtx {
    height: 400px;
    width: 400px;
  }
  .rx {
    height: 150px;
    margin-top: 100px;
    margin-left: 0;
  }
  .txt1 {
    font-size: 10px;
  }
  .txttit {
    font-size: 15px;
  }
  .radeon {
    height: 100px;
    width: 100px;
  }
  .txt2 {
    font-size: 11px;
  }
  .txttitulosindex {
    font-size: 20px;
  }
  .procesadores {
    background-color: white;
    height: 1150px;
    margin-top: 150px;
    display: inline-block;
    width: 100%;
  }
  .grafica {
    height: 200px;
    width: 200px;
  }
  .r9 {
    height: 350px;
    width: 450px;
  }
  .i9 {
    height: 300px;
    width: 350px;
    margin-left: 70px;
  }
  .lap {
    height: 300px;
    width: 350px;
    margin-left: 60px;
  }
  .txt3 {
    font-size: 12px;
    margin-left: 60px;
  }
  .txttitulosindex2 {
    margin-left: 140px;
  }
  .txt4 {
    font-size: 12px;
    margin-left: 120px;
  }
  .txttitulosindex3 {
    margin-left: 170px;
  }
  .proce {
    margin-left: 0%;
    background-color: white;
    width: 100%;
    margin-top: 70px;
  }
  .txttienda {
    margin-left: 0%;
  }
  .intel1 {
    height: 200px;
    width: 200px;
  }
  .intel2 {
    height: 200px;
    width: 170px;
  }
  .sumar {
    color: white;
  }
}

/*# sourceMappingURL=estilos.css.map */
